.my-bio {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
    font-size: 1em;
    line-height: 1.5em;
  }
  
  .my-bio h1 {
    font-size: 2em;
    margin-bottom: 20px;
  }
  
  .my-bio p {
    margin-bottom: 20px;
  }
  .sydney-milano{
    color:#ACE1BD
  }
  .sydney-russia{
    color:#E1ACD0
  }

  .sydney-america{
    color: #ACB6E1;
  }
  .sydney-world{
    color: #D3C587;
  }